main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 40vh;
  width: 20%;
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center;
  white-space: pre-wrap;
  transition: transform .2s ease-in;
  cursor: pointer;
  padding: 1rem;
  text-decoration: none;
}

.card:hover {
  background-color: rgb(39, 47, 66);
  transform: scale(1.05);
}

