main {
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem 0;
}

#input, #result {
  padding: 1rem;
  color: var(--text-color);
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
}

#result {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

#result fieldset {
  flex: 1;
}

#input-result {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  gap: .5rem;
}

#code-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}